.home{
    /* border: 2px solid; */
    min-height: 100vh;
    margin-top: 10vh;
}
.section-content{
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */

}
.left img{
    width: 100%;
    height: 100%;
    margin: 0;
    /* border: 5px solid greenyellow; */


}
.left{
    flex: 1 1 300px ;
    /* background-color: aqua; */
    min-height: 100vh;
    /* border: 2px solid green; */

    position: relative;
    /* background: url(./pics/Vector1.png);
    background-size: 400px;
    background-position-y:250px ;
    background-repeat: no-repeat; */
    
}
.emoji{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    /* border: 2px solid; */

}
.bg1{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 70%;
    height: 400px;
    /* border: 2px solid; */
}
.bg2{
    position: absolute;
    top: 25%;
    left: 18%;
    width: 70%;
    height: 400px;
    /* border: 2px solid; */
}
.me{
    position: absolute;
    top: -5%;
    left: 10%;
    width: 80%;
    height: 700px;
}
.me>img{
    width: 100%;
    height: 100%;
}
.float{
    position: absolute;
    
}
.float1{
    top: 80vh;
    left: 20%;
}
.float2{
    top: 40vh;
    right: 0;
}
.blur{
    position: absolute;
    width: 21rem;
    height: 11rem;
    filter: blur(100px);
    z-index: -3;
    background-color: yellow;
    top: 0;
}
.blur2{
    background-color: blue;
    top: 50%;
    right: 0;
}
.blur3{
    background-color:yellow;
    position: absolute;
    top: 100%;
    right: 0;
}

.right{
    flex: 1 1 300px ;
    /* background-color: aquamarine; */
    min-height: 100vh;
    /* border: 2px solid green; */
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
.h1-not{
    margin-top: 30vh;
    font-size: 4rem;
}
.h1-colored{
    font-size: 4rem;
    color: yellow;
}
div button{
    background-color: yellow;
    padding: 5px 20px;
}
.icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.git{
    width: 40px;
}
.linkedin{
    width: 40px;
}

.write>:first-child{
    font-size: 3rem;
}
.write>:nth-child(2){
    font-size: 3rem;
    color: blue;
}














@media (max-width:600px) {
    .write{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right{
        flex: 1 1 300px ;
        /* background-color: aquamarine; */
        min-height: 100vh;
        /* border: 2px solid green; */
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .section-content{
        min-height: 100vh;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 25px;
        /* border: 2px solid green; */
    
    }
}