/* project */
.left{
    cursor: pointer;
    transform: rotateX('45deg');
    position: absolute;
    left: 0;
    top: 45%;
    margin-left: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aqua;
}
.right{
    cursor: pointer;
    transform: rotateY('90deg');
    position: absolute;
    right: 0;
    top: 45%;
    margin-right: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aqua;
}
.slides{
    transition: all 3s;
    
}
.slides.right{
    left: 100%;
}
/* skills */

.skill-container {
  position: relative;
  width: 300px; /* Adjust size of circular path as needed */
  height: 300px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 50%; /* Creates a circular path */
  animation: rotate-container 10s linear infinite; 
}

.skill-icon {
  position: absolute;
  width: calc(100%/3); /* Adjust size of skill icons */
  height: calc(100%/3);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: black;
}

/* Example skill icons */
.skill-icon#html {
  background-image: url('../../assets/html-1.svg'); /* Replace with actual icon path */
}

.skill-icon#css {
  background-image: url('../../assets/css-3.svg'); /* Replace with actual icon path */
  transform: translate(200px);

}

.skill-icon#javascript {
  background-image: url('../../assets/javascript-1.svg'); /* Replace with actual icon path */
  transform: translate(100px,-50px);
}
.skill-icon#c-sharp {
  background-image: url('../../assets/c--4.svg'); /* Replace with actual icon path */
  transform: translate(250px,100px);
}
.skill-icon#net {
  background-image: url('../../assets/c--4.svg'); /* Replace with actual icon path */
  transform: translate(200px,200px);
}
.me{
    /* width: 100%; */
    display: none;
}
@keyframes rotate-container {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width:700px) {
    /* home */
    .section-content.home{
        display: flex;
        flex-direction: column;
    }
    .section-content.home .img{
        margin-top: 5vh;
        border: 5px solid;
        height: 180px;
        width: 180px;
        background-image: url('./my-pics.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -20px;
        border-radius: 50%;
        margin-left: auto;

    }
    .section-content.home .intro{
        width: 100%;
        /* border: 2px solid; */
    }
    .section-content.home .intro .name{
        font-size: 3.0rem;
    }
    /* projects */

  }