.testimonial{
    border: 2px solid;
    min-height: 100vh;
    margin-top: 10vh;
}
.section-content{
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */

}
.span{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 0;
    margin-bottom: 0;
}
.span>span{
    margin-top: 30vh;
    font-size: 2rem;
}
.span>span>span{
    font-size: 3rem;
    color: yellow;
    margin: 0 5px;
}
.testimonial .swiper{
    border: 2px solid;
    max-width: 600px;
    height: 300px;
    margin-top: -90px;
}
.swiper-slide{
    width: 100%;
    background-color: red;
    border: 5px solid white;
}
.ye{
    background-color: yellowgreen;
}
@media (max-width:600px) {
   
}