/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
}
.app{
  min-height: 100vh;
}
section{
  min-height: 100vh;
}
.section-content{
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
